body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: rgb(31, 32, 37);
  --foreground: rgb(231, 231, 231);
  --border: rgb(209, 209, 209);
  --radius: 8px;
  --darkest: black;
}

html,
body,
#root {
  height: 100%;
  color: var(--foreground);
  background-color: var(--background);
}




